## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: user-sysmaint-split
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://github.com/Kicksecure/user-sysmaint-split
Vcs-Browser: https://github.com/Kicksecure/user-sysmaint-split
Vcs-Git: https://github.com/Kicksecure/user-sysmaint-split.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: user-sysmaint-split
Architecture: all
Depends: security-misc, adduser, ${misc:Depends}
Breaks: qubes-core-agent-passwordless-root
Description: Role-Based Boot Modes - user versus sysmaint
 Adds a GRUB boot menu entry "PERSISTENT mode SYSMAINT
 (For system maintenance tasks.)"
 .
 Makes Privilege Escalation Tools (such as sudo, su,
 pkexec) inaccessible to limited user accounts such as user "user".
 .
 Adds kernel parameter "boot-role=sysmaint" and
 "systemd.unit=sysmaint-boot.target".
