#!/usr/bin/make -f

## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#export DH_VERBOSE=1

%:
	dh $@ --with=config-package

override_dh_installchangelogs:
	dh_installchangelogs changelog.upstream upstream

override_dh_installsystemd:
	## dh_installsystemd's startup logic results in sysmaint-boot being run when
	## the package is initially installed. This is potentially unsafe. We should
	## just handle systemd concerns manually.
	true
