## Copyright (C) 2018 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=Hook for ensuring non-sysmaint boots cannot use sysmaint account
Before=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/user-sysmaint-split/sysmaint-password-control lock

[Install]
WantedBy=multi-user.target
