## Copyright (C) 2018 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=Hook for sysmaint account lock/unlock
Before=multi-user.target
Before=sysmaint-boot.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/user-sysmaint-split/sysmaint-boot

[Install]
WantedBy=basic.target
