## Copyright (C) 2018 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=Hook for sysmaint account lock/unlock
Before=multi-user.target
Before=sysmaint-boot.target
Before=getty.target
Before=graphical.target
Before=rads.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/user-sysmaint-split/sysmaint-boot handle-boot

[Install]
WantedBy=basic.target
